__pycache__/
build/
dist/
*.exe
/ffmpeg/

.buildozer
bin/
venv
*.log

# Local dir config
.directory

# JPG
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# GIF
*.gif

# WEBP
*.webp

# TIFF
*.tiff
*.tif

# PSD
*.psd

# BIMP
*bimp
*.dib

# SVG
*.svg
*.svgz

# Webm
*.webm

# Matroska
*.mkv

# OGG
*.ogg

# AVI
*.avi

# Quick Time
*.mov
*.qt

# MPEG-4, 2, 1
*.mp4
*.mpeg
*.mpg
*.mp2
*.m4v
*.mpv
*.mpe
*.m4p
